@charset "utf-8";
/* CSS Document */
body { font:12px Arial, Helvetica, sans-serif; }
#borrowing_panel { margin:0 auto; width:950px; margin-top: 10px; }


#barcode { font-size:25px; width:615px; border:2px solid; padding:5px; height:40px; margin-right:5px; float:left; }
#borrower_name { color:#003300; background-color:#cccccc; width:100%; height:150px; font:24px arial; padding:5px; }
#borrower_name img { border:2px solid #555555; height:144px; }


/* new css */


/* reset */
h1 { margin:0; }

/* html 5 fields css validation indicator */
/*input:required:invalid, input:focus:invalid { }*/
input:required:valid, select:required:valid, textarea:required:valid { }
input:required:invalid, textarea:required:valid, textarea:required:invalid { border:1px solid #FF3333; }

/*---------------------------- custom -------------------------*/
@font-face {
font-family:"barcode_font";
src:url("free_3_of_9_regular/FREE3OF9.eot") format("eot"),
	url("free_3_of_9_regular/FREE3OF9.woff") format("woff"),
	url("free_3_of_9_regular/FREE3OF9.ttf") format("truetype"),
	url("free_3_of_9_regular/FREE3OF9.svg#Free3of9") format("svg");
font-weight:normal; font-style:normal;
}

.dark_green { background-color:#336633; }
.green { background-color:#7bc147; }
.red { background-color:#d75339; }
.gray { background-color:#575757; }

#window_newTrans button,
#window_reprint  button { margin:0 5px 0 0; vertical-align:middle; float:left; }
#borrowing_panel button { margin:0 8px 0 0; vertical-align:middle; float:left; }

#borrowing_panel button .ui-button-text,
#window_newTrans button .ui-button-text,
#window_reprint  button .ui-button-text { padding:4px; }

#borrowing_panel button h1 { font-size:16px; font-weight:normal; border:0; color:#fff; height:30px; width:120px; padding:10px 10px 5px 10px; }
#window_newTrans button h1,
#window_reprint  button h1 { font-size:14px; font-weight:normal; border:0; color:#fff; height:20px; width:80px; padding:8px 10px 5px 10px; }

#window_newTrans, #window_reprint, #window_postVoid { display:none; }

#window_newTrans #borrower { float:left; font-size:18px; width:240px; height:28px; padding:5px; margin:0 5px 0 0; border:2px solid; }
#window_newTrans #search_borrower { width:100%; height:260px; border:2px solid #ccc; margin-top:5px; background-color:#ffffff; }

#window_reprint input[type="text"] { float:left; font-size:18px; height:28px; padding:5px; margin:0 5px 0 0; border:2px solid; }

#window_reprint #search_reprint { width:100%; height:260px; border:2px solid #ccc; margin-top:5px; background-color:#ffffff;  }

#tender_panel { width:100%; height:400px; visibility:hidden; padding:10px; }
#tender_panel div input[type="text"] { margin:0; padding:8px 4px; font-size:14px; width:250px; }
#tender_panel div { padding:5px 5px 0 5px; }
#tender_panel #datenow { border:2px solid #d75339; }
#tender_panel #return_hour { border:2px solid #d75339; }
#tender_panel #return_minute { border:2px solid #d75339; }
#tender_panel #venue { border:2px solid #d75339; }
#tender_panel #subject { border:2px solid #d75339; }

#item { width:650px; height:260px; overflow-x:hidden; overflow-y:auto; background-color:#575757 !important; }

.error_message { width:100%; background-color:#d75339; font-size:16px; color:#FFFFFF; text-align:center; padding:5px 0; font-weight:bold; }
